		*{
			margin: 0;
			padding: 0;
			font-family: arial;
		}

		a{
			text-decoration: none;
			color: black;
		}

		.mae{
			display: flex;
			flex-direction: row;
			min-height: 500px;
			max-width: 98%;
			margin: auto;
			background-color: lightgrey;
/*			max-width: 100vw;*/
			justify-content: space-around;
			overflow-y:auto ;
		}

		.alinhamento-chave{
			justify-content: space-between;
		}

		.chave{
			display: flex;
			flex-direction: row;
/*			width: 200px;*/
			height: 60px;
			background-color:grey;
			margin: 2px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.chave img{
			height: 100%;
		}

		.chave p{
			padding-left: 10px;
			padding-right: 10px;
		}

		.chave a{
			height: 100%;
/*			width: 50%;*/
/*			display: block;*/
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.main{
			margin: 5px;
			background-color: whitesmoke;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			transform: scale(0.8);
			transform-origin: center;
			}

		.main h1, h2, h3{
			display: flex;
			justify-content: center;
			background-color:  #527fff;
			color: black;
			font-size: 30px;
		}

		header{
			height: 100px;
			background-color: black;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#body{
			display: flex;
			justify-content: center;
		}

		#form{
			background-color: grey;
			width: 60%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 300px;
			border: 1px solid black;
		}

		.form{
			background-color: grey;
			width: 60%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-height: 300px;
			border: 1px solid black;
			padding: 30px;
		}

		.form input, select{
			margin: 20px;
			width: 80%;
			height: 40px;
		}

		.form h3{
			margin: 10px;
		}

		form{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

	 	form input, select textarea{
	 		height: 40px;
	 		margin: 10px;
	 		min-width: 80%;
	 	}

	 	#mostrar-torneios{
	 		width: 80%;
	 		margin: auto;
	 		min-height: 400px;
	 		background-color: grey;
	 		display: flex;
	 		justify-content: space-around;
	 		align-items: center;
	 	}

	 	#mostrar-torneios a{
	 		display: block;
	 		width: 33%;
	 	}

	 	.torneio{
	 		width: 100%;
	 		height: 200px;
	 		background-color: white;
/*	 		display: flex;*/
	 		text-align: center;
	 	}

	 	.torneio img{
	 		width: 100%;
	 		height: 150px;
	 	}

	 	#principal{
	 		width: 70%;
	 		margin: auto;
	 		min-height: 300px;
	 		background-color: grey;
	 		display: flex;
	 		flex-direction: column;
	 		align-content: center;
	 		align-items: center;
	 		padding: 30px;
	 	}

	 	.descricao{
	 		width: 80%;
	 		margin: auto;
/*	 		background-color: black;*/
	 		padding: 30px;
	 	}

	 	.descricao h1, p{
	 		text-align: center;
	 	}

	 	#principal a{
	 		padding: 20px;
	 		width: 150px;
	 		height: 40px;
	 		background-color:green;
	 		color: white;
	 		margin-top: 30px;
	 		display: flex;
	 		justify-content: center;
	 		align-items: center;
	 	}

	 	#menu{
	 		min-height: 60px;
	 		background-color: grey;
	 		margin-bottom: 30px;
	 		display: flex;
	 		justify-content: space-around;
	 		align-items: center;
	 	}

	 	#menu a{
	 		max-height: 90%;
	 		background-color: black;
	 		color: white;
	 		padding: 20px;
	 		margin: 3px;
	 	}

	 	.msg-success{
	 		background-color:green;
	 		display: flex;
	 		justify-content:center;
	 		height: 50px;
	 		align-items:center;
	 		color: white;
	 		margin-bottom: 30px;
	 	}

	 	.msg-fail{
	 		background-color:red;
	 		display: flex;
	 		justify-content:center;
	 		height: 50px;
	 		align-items:center;
	 		color: white;
	 		margin-bottom: 30px;
	 	}

	 	#tumb, #tumb img{
	 		max-width: 100%;
	 	}

	 	.botao-adm{
	 		min-width: 400px;
	 		max-width: 400px;
	 		height: 50px;
	 		background-color: grey;
	 		color: white;
	 		padding: 10px;
	 		margin: 10px;
	 		display: flex;
	 		justify-content: center;
	 		align-items: center;
	 	}

	 	.center{
	 		justify-content: center;
	 		align-items: center;
	 		justify-content: center;
	 		display: flex;
	 	}

	 	table, th, td, tr{
/*	 		padding: 10px;*/
	 		border-collapse: collapse;
	 		border: 1px solid black;
	 		text-align: center;
	 	}

	 	table{
	 		min-width: 600px;
	 	}

	 	.button-table{
	 		display: block;
	 		min-width: 100%;
	 		width: 100px;
	 		min-height: 100%;
	 		height: 40px;
	 		background-color: grey;
	 		display: flex;
	 		align-items: center;
	 		justify-content: center;
	 	}

	 	.vermelho{
	 		background-color: red;
	 		color: white;
	 	}

	 	.azul{
	 		background-color: blue;
	 		color: white;
	 	}
	 	.roxo{
	 		background-color: blueviolet;
	 		color: white;
	 	}

	 	.verde{
	 		background-color: green;
	 		color: white;
	 	}

	 	.limite{
	 		justify-content: space-evenly;
	 		padding-top: 30px;
	 		padding-bottom: 30px;
	 		height: auto;
/*	 		max-height: 600px;*/
	 		overflow: auto;
	 	}

	 	.inicio{
	 		display: flex;
	 		justify-content: flex-start;
	 		align-items: flex-start;
	 	}

	 	.disabled {
		    background-color: rgba(128, 128, 128, 0.3);  /* Fundo cinza transparente */
		    pointer-events: none;  /* Impede a interação (clicar) com a div */
		}

		.disabled-link {
		    pointer-events: none;  /* Impede o clique nos links dentro da div */
		    color: gray;  /* Opcional: Altera a cor do texto do link */
		    cursor: not-allowed;  /* Cursor indicando que a ação é inválida */
		}

		.vencedor{
			background-color: green;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;

		}

		.perdedor{
			background-color: red;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			color: white;
		}

		.vencedor, .perdedor{
			width: 120px;
		}

		.bloco-vitoria{
			min-width: 400px;
			color: white;
			background-image: url('img-vitoria/akuma.jpg');
			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}

		#chave-vitoria{
			justify-content: center;
			background-color: transparent;
		}

		#chave-vitoria .vencedor{
			background-color: yellow;
			color: black;
			font-weight: bold;
		}
		

