*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: arial;
/*	border: 1px solid black;*/
}

body{
	background-color: #f7f3f3;
}

.area{
	display: flex;
	justify-content: space-between;
	width: 1200px;
	max-width: 1200px;
	margin: auto;
	flex-wrap: wrap;

}

header{
	background-color: red;
	height: 274px;
/*	border: 1px solid black;*/
}

nav{
	font-size: 12px;
	display: flex;
	background-color: black;
	color: white;
	border: 1px solid black;
	height: 30px;
/*	width: 100%;*/
/*	top: 0;*/
}

#cabecalho{
	height: 160px;
	display: flex;
	width: 1200px;
	align-items: center;
	justify-content: space-between;
}
#cabecalho a{
	color: black;
}

#footer a{
	color: black;
}

#logo{
/*	border: 1px solid black;*/
	width: 250px;
}

#logo img{
	width: 250px;
}

#menu{
	display: flex;
	border: 1px solid black;
	background-color: black;
	height: 80px;
	color: white;
}

#menu a{
	color: white;
}

#barra{
	width: 600px;
}

#barra input{
/*	border: 1px solid black;*/
	outline: none;
	height: 30px;
	width: 100%;
}

.input-wrapper{
	border: 1px solid black;
	padding: 8px 12px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 6px;
	background-color: white;
}

.input-wrapper i{
	color: black;
}

.input-wrapper input{
	background-color: transparent;
	border: none;
}

#banner{
/*	border: 1px solid black;*/
	width: 1200px;
	margin: auto;
	display: flex;
/*	justify-items: center;*/
/*	text-align: center;*/
	min-height:445px;
	background-image: url("../img/banner.fw.png");
	background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
/*    background-position: center center;*/
 
}

.info{
	display: flex;
/*	border: 1px solid black;*/
	background-color: black;
	height: 80px;
	color: white;
	margin-bottom: 30px;
}

main h3{
/*	border: 1px solid black;*/
	text-align: center;
	width: 200px;
	margin: auto;
	margin-bottom: 30px;
}

.produto{
	background-color: white;
/*	border: 1px solid black;*/
	min-width: 270px;
	max-width: 270px;
	height: 400px;
	margin-bottom: 30px;
}

#promo{
	margin: auto;
/*	border: 1px solid red;*/
	text-align: center;
	max-width: 1200px;
}

footer{
	height: 200px;
	background-color: black;
}

#footer{
	background-color: #bf3333;
	height: 400px;
}

.foto{
	height: 200px;
}

.descricao{
	max-width: 100%;
}

.foto img{
	height: 200px;
	width: 100%;
}

.botao button{
	max-width: 100%;
	min-width: 100%;
	border: none;
	height: 56px;
	background-color:  #879efc;
}

#bloco-footer{
	margin-top: 30px;
/*	border: 1px solid black;*/
	width: 33%;
	height: 100%;
}

#social{
	margin: auto;
}

#carrinho{
/*	border: 1px solid yellow;*/
}

#carrinho img{
	width: 50px;
}

footer .area{
	color: white;
	text-align: center;
/*	background-color: grey;*/
	width: 500px;
	height: 100%;
	align-content: center;
}

footer .area img{
	width: 50px;
}
