*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
}

#principal{
	width: 100%;
/*	height: 100vh;*/
	display: flex;
	flex-direction: row;
	 background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(50,50,80,1) 100%); 
}

#div-esquerda{
	position: fixed;
/*	background-color: white;*/
}

#div-direita{
	width: 100%;
/*	background-color: grey;*/
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.meia-div{
	width: 50%;
	border: 1px solid black;
	height: 100vh;
}

#titulo{
	text-align: left;
}

#titulo h1{
	font-size: 70px;
	font-family: arial;
}

#titulo p{
	font-size: 25px;
}

#social{
	flex-direction: row;
}

#navegacao{
	text-align: left;
}

.blocos{
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 33.3%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sub-div{
	width: 50%;
	min-height: 100vh;
	padding: 150px;
	padding-top: 95px;
	text-align: left;
}

.sub-div p{
	font-size: 20px;
}

.bloco-exp, .bloco-proj{
	width: 100%;
	border-radius: 10px;
	background-color: red;
	min-height: 200px;
	margin-bottom: 20px;
}

